
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="margin-left:100px;width:400px; height:600px; border:1px solid #4800ff">
        @Html.Label((@ViewData["text1"].ToString()))<br />
        @ViewBag.text2.ToString()<br/>
        @TempData["text3"]

        @Html.ActionLink("TempDataForSecond", "TempDataForSecond")
       
    </div>
</body>
</html>
